<h2>Text Scroller</h2>
<h4>Created by <a href='http://nickbusey.com/' target='_new'>Nick Busey</a>.</h4>
<p>
	I used to make elaborate text files in Notepad.exe, which I would shrink to only show one line at a time, and hold the down arrow to make low budget animations. Here's a webapp designed to recreate that experience.
</p>
<p>
	Just update the Text Area, then click anywhere else to get the animation to update.
</p>
<p>
	Playing: {{input type="checkbox" name="isPlaying" checked=isPlaying}}<br/>
	Speed (milliseconds): {{input value=speed}}
</p>
<p>
	{{input value=current_line disabled=true size=50 class='scroller'}}<br />
</p>
<p>
	{{textarea value=content rows=300 cols=50 focus-out='updateContent'}}
</p>
